{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to Dj-Shop{% endblock %}

{% block content %}
   <div class="flex flex-col space-y-6">
      {% include 'components/categories.html' %}

      <!-- Product Card -->
      <div class="flex flex-row space-x-6">
         <!-- Product Image -->
         <div class="flex w-64 items-center justify-center">
            <img class='mx-auto w-40 h-40 object-scale-down bg-center transition duration-700 ease-in-out hover:object-cover' src="{{product.image.url}}" width="200">
         </div>
         <!-- Product Info -->
         <div class="flex flex-col">
            <h1 class="max-w-2xl text-2xl text-gray-800 font-semibodl mb-1">
               {{product.name}}
            </h1>
            <h2 class="max-w-xl text-lg text-gray-700 italic mb-1">
               {{product.category}}
            </h2>
            <h2 class="max-w-xl text-lg text-green-800 italic mb-4">
               {{product.price}} DZD
            </h2>
            <p class="max-w-3xl text-gray-700">
               {{product.description | linebreaks}}
            </p>
            <form action="{% url 'cart:add_cart_item' product.id %}" method="post">
               {% csrf_token %}
               {{add_product_to_cart}}
               <input class="text-gray-700 font-semibold bg-blue-400 px-4 p-2 rounded" type="submit" value="Add to Cart">
            </form>
         </div>
         <!-- End Product Info -->
      </div>
      <!-- End Product Card -->
   </div>
{% endblock content %}