{% extends 'base.html' %}
{% load static %}

{% block title %}Dj-Shop | {{product.name}}{% endblock %}

{% block content %}
   <style>
      .scrollbar-hide::-webkit-scrollbar {
         display: none;
     }
     
     /* For IE, Edge and Firefox */
     .scrollbar-hide {
         -ms-overflow-style: none;  /* IE and Edge */
         scrollbar-width: none;  /* Firefox */
     }
   </style>
   <div class="flex flex-col space-y-6 px-6">
      {% include 'components/categories.html' %}

      <!-- Product Card -->
      <div class="flex flex-col space-y-6">
         <!-- Title and Category -->
         <div>
            <h1 class="max-w-4xl text-3xl text-gray-800 font-semibodl mb-1">
               {{product.name}}
            </h1>
            <h2 class="max-w-xl text-lg text-gray-700 italic mb-1">
               {{product.category}}
            </h2>
         </div>
         <!-- Product Image -->
         <div class="flex flex-row space-x-2 hero container max-w-screen-lg pb-10 overflow-x-auto">
            <img class='h-56 md:h-64 lg:h-80 pl-3' src="{{product.image.url}}">
            <!-- Product Sub Images -->
            {% if product_images %}
               {% for image in product_images %}
                  <img class='h-56 md:h-64 lg:h-80 pl-3' src="{{image.images.url}}">
               {% endfor %}
            {% endif %}
         </div>
         <!-- Product Info -->
         <div class="flex flex-col">
            <h2 class="max-w-xl text-lg text-green-800 italic mb-4">
               {{product.price}} DA
            </h2>
            {% if product.description %}
               <h2 class="text-gray-800 text-xl font-medium my-1">Description</h2>
               <div class="max-w-2xl max-h-96 overflow-y-auto scrollbar-hide text-gray-900 italic p-6 mb-4 bg-gray-100 border-l-4 border-gray-300 dark:border-gray-500 dark:bg-gray-800 rounded-r-lg">
                  {% autoescape off %}
                     {{product.description | linebreaks }}
                  {% endautoescape %}
               </div>
            {% else %}
               <h2 class="text-gray-800 text-xl font-medium my-1">No Description</h2>
            {% endif %}
            <form class="my-6" action="{% url 'cart:add_cart_item' product.id %}" method="post">
               {% csrf_token %}
               {{add_product_to_cart}}
               <input class="text-gray-50 font-semibold bg-blue-400 px-4 p-2 rounded" type="submit" value="Add to Cart">
            </form>
         </div>
         <!-- End Product Info -->
      </div>
      <!-- End Product Card -->
   </div>
{% endblock content %}