{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to Dj-Shop{% endblock %}

{% block content %}
      <div class="flex flex-col items-center px-6">
         {% include 'components/categories.html' %}
         <div class="flex flex-row flex-wrap items-center justify-center overflow-x-auto space-x-6">
            {% for product in products %}
               <div class='flex flex-col items-center mx-auto space-y-2 my-6 mx-6 mx-auto text-center p-2 px-4 w-44 rounded'>
                  <a href="{{product.get_absolute_url}}" class='flex flex-col space-y-2'>
                     <img class='mx-auto w-32 h-32 object-scale-down bg-center transition duration-700 ease-in-out hover:object-cover' src={{product.image.url}} />
                     <span class="max-w-sm text-gray-800 truncate">{{product.name | truncatechars:20}} </span>
                  </a>
                  <span class="max-w-sm text-gray-500">{{product.price}} DZD</span>
               </div>
            {% endfor %}
         </div>
      </div>
{% endblock content %}