{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to Dj-Shop{% endblock %}
{% block content %}
   {% include 'components/hero.html' %}
      <div class="flex flex-col items-center px-6">
         {% comment %} {% include 'components/categories.html' %} {% endcomment %}
         <div class="flex flex-row flex-wrap items-center justify-center overflow-x-auto md:space-x-6">
            {% for product in products %}
               <div class='max-w-xs flex flex-col items-center m-2 my-6 text-center shadow'>
                  <a href="{{product.get_absolute_url}}" class='flex flex-col space-y-2'>
                     <img class='mx-auto h-full object-cover bg-center rounded-t' src={{product.image.url}} />
                     <span class="max-w-md text-gray-800 truncate">{{product.name | truncatechars:30}} </span>
                  </a>
                  <span class="max-w-sm text-gray-500 mb-1">{{product.price}} $</span>
               </div>
               <div class='max-w-xs flex flex-col items-center m-2 my-6 text-center shadow'>
                  <a href="{{product.get_absolute_url}}" class='flex flex-col space-y-2'>
                     <img class='mx-auto h-full object-cover bg-center rounded-t' src={{product.image.url}} />
                     <span class="max-w-md text-gray-800 truncate">{{product.name | truncatechars:30}} </span>
                  </a>
                  <span class="max-w-sm text-gray-500 mb-1">{{product.price}} $</span>
               </div>
               <div class='max-w-xs flex flex-col items-center m-2 my-6 text-center shadow'>
                  <a href="{{product.get_absolute_url}}" class='flex flex-col space-y-2'>
                     <img class='mx-auto h-full object-cover bg-center rounded-t' src={{product.image.url}} />
                     <span class="max-w-md text-gray-800 truncate">{{product.name | truncatechars:30}} </span>
                  </a>
                  <span class="max-w-sm text-gray-500 mb-1">{{product.price}} $</span>
               </div>
               <div class='max-w-xs flex flex-col items-center m-2 my-6 text-center shadow'>
                  <a href="{{product.get_absolute_url}}" class='flex flex-col space-y-2'>
                     <img class='mx-auto h-full object-cover bg-center rounded-t' src={{product.image.url}} />
                     <span class="max-w-md text-gray-800 truncate">{{product.name | truncatechars:30}} </span>
                  </a>
                  <span class="max-w-sm text-gray-500 mb-1">{{product.price}} $</span>
               </div>
            {% endfor %}
         </div>
      </div>
{% endblock content %}