<footer class="w-full p-4 bg-white rounded-lg mt-32 shadow md:px-6 md:py-8 dark:bg-gray-900">
   <div class="sm:flex sm:items-center sm:justify-between">
      <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0">
         <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/2560px-Django_logo.svg.png" class="mr-3 h-8" alt="Flowbite Logo" />
      </a>
      {% with total_items=cart.get_total_quantities %}
			{% if total_items > 0 %}
            <div class="text-gray-700">
					<span>Your cart:</span>
					<a href="{% url "cart:cart_content" %}">
						{{ total_items }} item{{ total_items|pluralize }}, <span class="font-medium underline">{{ cart.get_total_price }} $</span>
					</a>
				</div>
			{% else %}
            <span class="text-gray-700 font-medium">Your cart is empty.</span>
			{% endif %}
		{% endwith %}
   </div>
   <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
   <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://github.com/black15/" class="hover:underline">Oussama1337™</a>. All Rights Reserved.
   </span>
</footer>