{% extends 'base.html' %}
{% load static %}

{% block title %}Payment Process{% endblock %}
{% block head_child %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/stripe/checkout.js' %}" defer></script>
{% endblock head_child %}

{% block content %}
  <div class="container mx-auto flex items-center justify-center my-12">
    <button id="submitBtn" type="submit" class="text-white bg-green-700 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-600 dark:focus:ring-blue-800">Purchase!</button>
  </div>
{% endblock %}